/* 
#############
GENERAL
############
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {    
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    color: white;
    font-family: 'Poppins', sans-serif;
    ul {
        list-style: none;
        li > a {
            text-decoration: none;
        }
    }
}

/* 
#############
HEADER
############
*/
header {
    ul {
        li {
            margin: 10px;
        }
    }
}

/* 
#############
CONTENT
############
*/

// INDEX 
.index-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    h1 {        
        // background-color: #03bdc0;
        // border-radius: 10px;
        // padding: 2px;
        text-transform: uppercase;
    }
    ul {        
        li > a {
            text-decoration: none;
            color: white;
            &:hover {
                color: black;
            }            
        }
    }
}

// EMP-SHOW PAGE
.emp-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
}

// CREATE NEW TASK PAGE
.create-task-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
}

// UPDATE (EDIT) TASK PAGE
.update-task-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
}

// LOCATION INDEX CONTENT
.loc-index-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
}

// LOCATION SHOW 
.loc-show-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
}

// LOCATION INDEX CONTENT
.typ-index-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
}

// LOCATION SHOW 
.typ-show-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
}

// TASKS INDEX CONTENT
.task-index-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
}

// TASK SHOW 
.task-show-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
    
}


// TYPOLOGY CREATE PAGE 
.create-typo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
}

/* 
#############
FOOTER
############
*/

footer {
    h5 {
        font-weight: normal;
    }                
}

/* 
#############
COMBINED
############
*/

footer, header {
    background-color: rgba(5, 5, 5, 0.233);
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    // color:#03bdc0;
    color: white;
    ul {
        li {
            display: inline-block;
            a {
                // color:#03bdc0;
                color: white;
                display: inline-block;
            }
        }
    }
}
