/* 
#############
GENERAL
############
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(221, 78, 62);
    color: white;
    font-family: 'Poppins', sans-serif;
    ul {
        list-style: none;
        li > a {
            text-decoration: none;
        }
    }
}

/* 
#############
HEADER
############
*/

/* 
#############
CONTENT
############
*/

// INDEX 
.index-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;

    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
}

// EMP-SHOW PAGE
.emp-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;

    ul {        
        li > a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }            
        }
    }
}

/* 
#############
FOOTER
############
*/

/* 
#############
COMBINED
############
*/

footer, header {
    background-color: rgb(43, 39, 39);
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    ul {
        li > a {
            color: lightgrey;
        }
    }
}

