/* 
#############
GENERAL
############
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  color: white;
  font-family: "Poppins", sans-serif;
}

body ul {
  list-style: none;
}

body ul li > a {
  text-decoration: none;
}

/* 
#############
HEADER
############
*/

header ul li {
  margin: 10px;
}

/* 
#############
CONTENT
############
*/

.index-content {
  position: relative;
}

.navigate-card {
  -webkit-animation-name: example, movement;
          animation-name: example, movement;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: white;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
}

/* The animation code */

@-webkit-keyframes example {
  0% {
    background-color: #7d6fee;
  }

  25% {
    background-color: #F20AFF;
  }

  50% {
    background-color: #33D7DF;
  }

  100% {
    background-color: #9A56F3;
  }
}

@keyframes example {
  0% {
    background-color: #7d6fee;
  }

  25% {
    background-color: #F20AFF;
  }

  50% {
    background-color: #33D7DF;
  }

  100% {
    background-color: #9A56F3;
  }
}

@-webkit-keyframes movement {
  0% {
    top: 50vh;
  }

  100% {
    top: 10vh;
  }
}

@keyframes movement {
  0% {
    top: 50vh;
  }

  100% {
    top: 10vh;
  }
}

.index-content,
.update-typo-content,
.create-typo-content,
.task-show-content,
.task-index-content,
.typ-show-content,
.typ-index-content,
.loc-show-content,
.loc-index-content,
.update-task-content,
.create-task-content,
.emp-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.index-content h2 a,
.update-typo-content h2 a,
.create-typo-content h2 a,
.task-show-content h2 a,
.task-index-content h2 a,
.typ-show-content h2 a,
.typ-index-content h2 a,
.loc-show-content h2 a,
.loc-index-content h2 a,
.update-task-content h2 a,
.create-task-content h2 a,
.emp-content h2 a {
  text-decoration: none;
  color: white;
}

.index-content h2 a:hover,
.update-typo-content h2 a:hover,
.create-typo-content h2 a:hover,
.task-show-content h2 a:hover,
.task-index-content h2 a:hover,
.typ-show-content h2 a:hover,
.typ-index-content h2 a:hover,
.loc-show-content h2 a:hover,
.loc-index-content h2 a:hover,
.update-task-content h2 a:hover,
.create-task-content h2 a:hover,
.emp-content h2 a:hover {
  color: #19bfe9;
}

.index-content ul li > a,
.update-typo-content ul li > a,
.create-typo-content ul li > a,
.task-show-content ul li > a,
.task-index-content ul li > a,
.typ-show-content ul li > a,
.typ-index-content ul li > a,
.loc-show-content ul li > a,
.loc-index-content ul li > a,
.update-task-content ul li > a,
.create-task-content ul li > a,
.emp-content ul li > a {
  text-decoration: none;
  color: white;
}

.index-content ul li > a:hover,
.update-typo-content ul li > a:hover,
.create-typo-content ul li > a:hover,
.task-show-content ul li > a:hover,
.task-index-content ul li > a:hover,
.typ-show-content ul li > a:hover,
.typ-index-content ul li > a:hover,
.loc-show-content ul li > a:hover,
.loc-index-content ul li > a:hover,
.update-task-content ul li > a:hover,
.create-task-content ul li > a:hover,
.emp-content ul li > a:hover {
  color: #19bfe9;
}

.update-typo-content,
.create-typo-content,
.create-task-content,
.update-task-content {
  position: relative;
}

.update-typo-content .alert,
.create-typo-content .alert,
.create-task-content .alert,
.update-task-content .alert {
  background-color: #f7c2c2;
  font-size: 1.3rem;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  color: red;
  border-bottom: solid 2px #ee5f5f;
  font-style: oblique;
}

.update-typo-content .alert div,
.create-typo-content .alert div,
.create-task-content .alert div,
.update-task-content .alert div {
  text-align: center;
}

.update-typo-content .alert div button,
.create-typo-content .alert div button,
.create-task-content .alert div button,
.update-task-content .alert div button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: red;
}

.update-typo-content .alert div button:hover,
.create-typo-content .alert div button:hover,
.create-task-content .alert div button:hover,
.update-task-content .alert div button:hover {
  background-color: #f70909;
  color: white;
}

.update-typo-content .alert div .error-msg,
.create-typo-content .alert div .error-msg,
.create-task-content .alert div .error-msg,
.update-task-content .alert div .error-msg {
  font-style: normal;
  color: black;
  font-size: 1.1rem;
}

/* 
#############
FOOTER
############
*/

footer h5 {
  font-weight: normal;
}

/* 
#############
COMBINED
############
*/

footer,
header {
  background-color: rgba(5, 5, 5, 0.233);
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  color: white;
}

footer ul li,
header ul li {
  display: inline-block;
}

footer ul li a,
header ul li a {
  color: white;
  display: inline-block;
}

