/* 
#############
GENERAL
############
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  color: white;
  font-family: "Poppins", sans-serif;
}

body ul {
  list-style: none;
}

body ul li > a {
  text-decoration: none;
}

/* 
#############
HEADER
############
*/

header ul li {
  margin: 10px;
}

/* 
#############
CONTENT
############
*/

.index-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.index-content h1 {
  text-transform: uppercase;
}

.index-content ul li > a {
  text-decoration: none;
  color: white;
}

.index-content ul li > a:hover {
  color: #19bfe9;
}

.update-typo-content,
.create-typo-content,
.task-show-content,
.task-index-content,
.typ-show-content,
.typ-index-content,
.loc-show-content,
.loc-index-content,
.update-task-content,
.create-task-content,
.emp-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.update-typo-content h2 a,
.create-typo-content h2 a,
.task-show-content h2 a,
.task-index-content h2 a,
.typ-show-content h2 a,
.typ-index-content h2 a,
.loc-show-content h2 a,
.loc-index-content h2 a,
.update-task-content h2 a,
.create-task-content h2 a,
.emp-content h2 a {
  text-decoration: none;
  color: white;
}

.update-typo-content h2 a:hover,
.create-typo-content h2 a:hover,
.task-show-content h2 a:hover,
.task-index-content h2 a:hover,
.typ-show-content h2 a:hover,
.typ-index-content h2 a:hover,
.loc-show-content h2 a:hover,
.loc-index-content h2 a:hover,
.update-task-content h2 a:hover,
.create-task-content h2 a:hover,
.emp-content h2 a:hover {
  color: #19bfe9;
}

.update-typo-content ul li > a,
.create-typo-content ul li > a,
.task-show-content ul li > a,
.task-index-content ul li > a,
.typ-show-content ul li > a,
.typ-index-content ul li > a,
.loc-show-content ul li > a,
.loc-index-content ul li > a,
.update-task-content ul li > a,
.create-task-content ul li > a,
.emp-content ul li > a {
  text-decoration: none;
  color: white;
}

.update-typo-content ul li > a:hover,
.create-typo-content ul li > a:hover,
.task-show-content ul li > a:hover,
.task-index-content ul li > a:hover,
.typ-show-content ul li > a:hover,
.typ-index-content ul li > a:hover,
.loc-show-content ul li > a:hover,
.loc-index-content ul li > a:hover,
.update-task-content ul li > a:hover,
.create-task-content ul li > a:hover,
.emp-content ul li > a:hover {
  color: #19bfe9;
}

/* 
#############
FOOTER
############
*/

footer h5 {
  font-weight: normal;
}

/* 
#############
COMBINED
############
*/

footer,
header {
  background-color: rgba(5, 5, 5, 0.233);
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  color: white;
}

footer ul li,
header ul li {
  display: inline-block;
}

footer ul li a,
header ul li a {
  color: white;
  display: inline-block;
}

